@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1 class="display-4">Welcome</h1>
     This site was created to comfortable checking best genshin characters
     <img src="~/images/background.jpg" width="1000px">
</div>
